<div class="contenedor">
    <h3>Plato Fuerte</h3>
    <div class="galeria-menu">
        <div class="imagen-menu">
            <img src="../../../assets/plato fuerte/Ajiaco santafereño acompañado de jugo de uchuva.jpg" alt="">
            <p>Ajiaco Santafereño Acompañado de Jugo de Uchuva</p>
            <p>$35.000</p>
            <div class="hover-galeria">
                <p>Selecciona aqui</p>
            </div>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/Arroz con mariscos y leche de coco acompañado de platano en tentacion.jpg"
            alt="">
        <p>Arroz con Mariscos y Leche de Coco Acompañado de Platano en Tentacion</p>
        <p>$42.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/Bandeja paisa acompañada de agua de panela con limon.jpg" alt="">
        <p>Bandeja Paisa Acompañada de Agua de Panela con Limon</p>
        <p>$40.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/costillas de cordero pasadas por semillas de ahuyama tostadas y molidas.jpg"
            alt="">
        <p>Costillas de Cordero Pasadas por Semillas de Ahuyama Tostadas y Molidas</p>
        <p>$46.500</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/Langostinos con salsa de tamarindo y  maracuya y arroz con coco negrito y patacones de yuca.jpg"
            alt="">
        <p>Langostinos con Salsa de Tamarindo y Maracuya y Arroz con Coco Negrito y Patacones de Yuca</p>
        <p>$52.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/magret de pato con mousse de maiz y relleno de morcilla.jpg" alt="">
        <p>Magret de Pato con Mousse de Maiz y Relleno de Morcilla</p>
        <p>$48.300</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/molde de carne molida con platano maduro y salsa de aguacate.jpg" alt="">
        <p>Molde de Carne Molida con Platano Maduro y Salsa de Aguacate</p>
        <p>$38.700</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/robalo con salsa de corozo y marinada sobre palmitos.jpg" alt="">
        <p>Robalo con Salsa de Corozo y Marinada Sobre Palmitos</p>
        <p>$61.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/Rollitos de arroz cocido con guascas estilo sushi con ingredientes de ajiaco.jpg"
            alt="">
        <p>Rollitos de Arroz Cocido con Guascas Estilo Sushi con Ingredientes de Ajiaco</p>
        <p>$46.450</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/plato fuerte/tamales de Achira.jpg" alt="">
        <p>Tamales de Achira</p>
        <p>$25.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
</div>