<h2 class="titulo">somos</h2>
<div class="contenedor-sobre-nosotros">
    <img src="../../../assets/Sobre nosotros.jpg" alt="imagen-about-us">
    <div class="contenido-textos">
        <h3><span>1</span>Nuestra Empresa</h3>
        <p>Somos un equipo de trabajo especializado en prestar un excelente servicio a nuestros clientes,
            lider en el mercado debido a nuestra gastronomia con un gran gusto colombiano, nuestro
            compromiso
            en velar por el bienestar y servicio de nuestros comensales.
        </p>
        <h3><span>2</span>Reseña</h3>
        <p>Somos percibidos por nuestros clientes como un referente para satisfacer sus necesidades en
            alimentacion de calidad. Los ejes para nuestra organizacion son -La Innovacion- -Materia prima
            de calidad- - Confianza en lo que hacemos-.
        </p>

    </div>
</div>    