<div class="contenedor">
    <h3>Postres</h3>
    <div class="galeria-menu">
        <div class="imagen-menu">
            <img src="../../../assets/postres/Budin de pan de banana y chocolate blanco.jpg" alt="">
            <p>Budin de Pan de Banana y Chocolate Blanco</p>
            <p>$13.000</p>
            <div class="hover-galeria">
                <p>Selecciona aqui</p>
            </div>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Creme Brulee de vainilla y compota de frutas.jpg" alt="">
        <p>Creme Brulee de Vainilla y Compota de Frutas</p>
        <p>$15.500</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Flan de nuez, higos y queso de cabra.jpg" alt="">
        <p>Flan de Nuez, Higos y Queso de Cabra</p>
        <p>$12.600</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Mousse de chocolate blanco y carpaccio de pomelo.jpg" alt="">
        <p>Mousse de Chocolate Blanco y Carpaccio de Pomelo</p>
        <p>$13.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Panna cotta de almendras.jpg" alt="">
        <p>Panna Cotta de Almendras</p>
        <p>$14.700</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Rolls de masa philo y manzana.jpg" alt="">
        <p>Rolls de Masa Philo y Manzana</p>
        <p>$11.600</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Tarta de nueces y chocolate.jpg" alt="">
        <p>Tarta de Nueces y Chocolate</p>
        <p>$15.300</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Torta humeda de chocolate y zanahorias en almibar.jpg" alt="">
        <p>Torta Humeda de Chocolate y Zanahorias en Almibar</p>
        <p>$16.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Torta tibia de chocolate y sabayon helado.jpg" alt="">
        <p>Torta Tibia de Chocolate y Sabayon Helado </p>
        <p>$17.200</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/postres/Triffle citricos y frutillas.jpg" alt="">
        <p>Triffle Citricos y Frutillas</p>
        <p>$14.100</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
</div>