<div class="contenedor">
    <h3>Carta de Vinos</h3>
    <div class="galeria-menu">
        <div class="imagen-menu">
            <img src="../../../assets/vinos/cabernet savignon.jpg" alt="">
            <p>Cabernet Sauvignon</p>
            <p>$75.000</p>
            <div class="hover-galeria">
                <p>Selecciona aqui</p>
            </div>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/vinos/Chardonnay blanco.png" alt="">
        <p>Chardonnay Blanco</p>
        <p>$93.400</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/vinos/Gran syrah.png" alt="">
        <p>Gran Syrah</p>
        <p>$103.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/vinos/Le rose de antodoto 2016.jpg" alt="">
        <p>Le Rose de Antidoto 2016</p>
        <p>$115.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/vinos/Mara moura bastardo rose.png" alt="">
        <p>Mara Moura Bastardo Rose</p>
        <p>$122.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/vinos/Petit verdot.jpg" alt="">
        <p>Petit Verdot</p>
        <p>$83.700</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/vinos/Pinot Grigio.png" alt="">
        <p>Pinot Grigio</p>
        <p>$90.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/vinos/Pinot noir.jpg" alt="">
        <p>Pinot Noir</p>
        <p>$102.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
    <div class="imagen-menu">
        <img src="../../../assets/vinos/sauvignon blanc.png" alt="">
        <p>Sauvignon Blanc</p>
        <p>$133.000</p>
        <div class="hover-galeria">
            <p>Selecciona aqui</p>
        </div>
    </div>
</div>